// Gotham

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Gotham-light.otf);
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: italic;
  src: url(../fonts/Gotham-light_italic.otf);
}

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/Gotham-medium.otf);
}

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  font-style: italic;
  src: url(../fonts/Gotham-medium_italic.otf);
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Gotham-bold.otf);
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: italic;
  src: url(../fonts/Gotham-bold_italic.otf);
}
