// Colors
$white: #FFFFFF;
$black: #111111;
$grey: #6B6B6B;
$dark: #1E2F4F;
$saturate: #8B92AB;
$darkBlue: #4E4AFF;
$mediumBlue: #4AB3FF;
$lightBlue: #29D4E0;
$red: #F12540;
$green: #57E26E;

// Grid
$column: 120px;
$gutter: 30px;
$grid: $column * 12;

// Font
$font: 'Gotham', sans-serif;

// Shadow
$boxShadow: 0px 4px 10px rgba($grey, .25);

// Size
$topbarSize: 60px;
