@-webkit-keyframes scale-dot {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); } }

@keyframes scale-dot {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); } }

@-webkit-keyframes scroller-toggle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scroller-toggle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes cursor-translate {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  6.25% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  12.5% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes cursor-translate {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  6.25% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  12.5% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Gotham-light.otf); }

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: italic;
  src: url(../fonts/Gotham-light_italic.otf); }

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/Gotham-medium.otf); }

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  font-style: italic;
  src: url(../fonts/Gotham-medium_italic.otf); }

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Gotham-bold.otf); }

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: italic;
  src: url(../fonts/Gotham-bold_italic.otf); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::before, blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  border-radius: 0;
  -webkit-padding-start: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-indent: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=reset],
input[type=color],
input[type=file],
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=color] {
  width: 1em; }

input::-ms-clear {
  display: none; }

details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

mark {
  background: none; }

hr {
  height: 1px;
  margin: 0;
  padding: 0; }

u {
  text-decoration: none; }

table th {
  text-align: left; }

a {
  color: inherit;
  outline: none;
  text-decoration: none; }

.sbi_load_btn,
.sbi_follow_btn a {
  -webkit-transition: background .25s ease-in-out !important;
  transition: background .25s ease-in-out !important; }
  .sbi_load_btn:hover,
  .sbi_follow_btn a:hover {
    background: #0a98ff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

#wpcomm .wpdiscuz-subscribe-form-email input[type=email],
#wpcomm .wpd-form-row .wpdiscuz-item .wc-bin-captcha,
#wpcomm .wpd-form-row .wpd-has-icon .wpd-field,
#wpcomm .wpd_label__check i.wpdicon,
#wpdiscuz_subscription_button,
#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea,
.wpdiscuz-front-actions,
.wpdiscuz_select,
.wc-load-more-submit.wc-loaded.button,
.wc-cta-button,
.wc-field-submit input,
#wpcomm .avatar {
  border-radius: 5px !important; }

.wpdiscuz-textarea-wrap {
  border: none !important; }

#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea {
  border: 1px solid #d9d9d9 !important; }

#wpcomm .wpdiscuz-subscribe-form-email input[type=email]:focus,
#wpcomm .wpd-form-row .wpd-has-icon .wpd-field:focus,
#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea:focus {
  border-color: #4AB3FF !important; }

#wpcomm .wc-form-footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#wpcomm .wpd_label__check i.wpdicon-on {
  color: #4AB3FF;
  border-color: #cae9ff;
  background-color: white; }

#wpcomm .wpdiscuz-subscribe-form-email input[type=email],
.wpdiscuz_select {
  padding-left: 9px !important; }

.wpdiscuz-ftb-left a,
#wpcomm .wpdiscuz-form-top-bar .wpdiscuz-user-settings,
#wpcomm .wpd_label__check i.wpdicon {
  -webkit-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important; }
  .wpdiscuz-ftb-left a:hover,
  #wpcomm .wpdiscuz-form-top-bar .wpdiscuz-user-settings:hover,
  #wpcomm .wpd_label__check i.wpdicon:hover {
    color: #4AB3FF !important; }

.wc-cta-button {
  -webkit-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important; }

.wc-vote-link {
  -webkit-transition: color .25s ease-in-out !important;
  transition: color .25s ease-in-out !important; }
  .wc-vote-link:hover.wc-up {
    color: #57E26E !important; }
  .wc-vote-link:hover.wc-down {
    color: #F12540 !important; }

.wc-field-submit input,
.wc-load-more-submit.wc-loaded.button,
#wpdiscuz_subscription_button {
  -webkit-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important;
  cursor: pointer !important; }
  .wc-field-submit input:hover,
  .wc-load-more-submit.wc-loaded.button:hover,
  #wpdiscuz_subscription_button:hover {
    border-color: #0a98ff !important;
    background-color: #0a98ff !important; }

#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea,
.wc-comment-text {
  font-weight: 300;
  line-height: 1.5em; }

.wc-comment-text a {
  color: #4AB3FF;
  -webkit-transition: color .25s ease-in-out !important;
  transition: color .25s ease-in-out !important; }
  .wc-comment-text a:hover {
    color: #0075ca; }

.Page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.Header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  color: #FFFFFF;
  text-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25);
  overflow: hidden; }
  .Header--full {
    min-height: 100vh; }
  .Header--partial {
    min-height: 62.5vh; }
  .Header--uncovered {
    color: #1E2F4F;
    text-shadow: none; }
    .Header--uncovered .Header-title {
      color: #4AB3FF; }
    .Header--uncovered .Header-filtered {
      -webkit-filter: none;
      filter: none; }
    .Header--uncovered .Header-link {
      color: #4AB3FF; }
      .Header--uncovered .Header-link:hover {
        color: #4E4AFF; }
  .Header--covered .Header-cover {
    background-color: #111111; }
  .Header--covered .Header-background {
    opacity: .75; }
  @media (max-width: 840px) {
    .Header {
      padding-right: 60px;
      padding-left: 60px; } }
  @media (max-width: 840px) {
    .Header {
      padding-right: 0;
      padding-left: 0; } }
  .Header-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    will-change: transform; }
  .Header-background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .Header-topbar, .Header-jumbotron {
    width: 1200px;
    margin: 30px 0; }
    @media (max-width: 1320px) {
      .Header-topbar, .Header-jumbotron {
        width: 960px; } }
    @media (max-width: 1080px) {
      .Header-topbar, .Header-jumbotron {
        width: 720px; } }
    @media (max-width: 840px) {
      .Header-topbar, .Header-jumbotron {
        width: 480px; } }
    @media (max-width: 600px) {
      .Header-topbar, .Header-jumbotron {
        padding-right: 30px;
        padding-left: 30px; } }
    @media (max-width: 480px) {
      .Header-topbar, .Header-jumbotron {
        width: 100%; } }
  .Header-topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media (max-width: 1080px) {
      .Header-topbar {
        margin-top: 0;
        height: 60px; } }
  .Header-filtered {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    -webkit-transition: -webkit-filter 0.5s cubic-bezier(1, 0, 0, 1);
    transition: -webkit-filter 0.5s cubic-bezier(1, 0, 0, 1);
    transition: filter 0.5s cubic-bezier(1, 0, 0, 1);
    transition: filter 0.5s cubic-bezier(1, 0, 0, 1), -webkit-filter 0.5s cubic-bezier(1, 0, 0, 1); }
    .Header-filtered:hover {
      -webkit-filter: none;
      filter: none; }
  .Header-logo {
    -ms-flex-item-align: center;
    align-self: center;
    width: 120px;
    -webkit-filter: drop-shadow(0px 4px 10px rgba(107, 107, 107, 0.25));
    filter: drop-shadow(0px 4px 10px rgba(107, 107, 107, 0.25)); }
    @media (max-width: 1080px) {
      .Header-logo {
        width: auto;
        height: 30px; } }
  .Header-burger {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    cursor: pointer; }
    @media (max-width: 1080px) {
      .Header-burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .Header-burger:hover .Header-stripe:nth-child(1), .Header-burger:hover .Header-stripe:nth-child(3) {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .Header-burger:hover .Header-stripe:nth-child(2) {
      -webkit-transform: scaleX(0.75);
      transform: scaleX(0.75); }
    .Header-burger.is-active .Header-stripe:nth-child(1) {
      -webkit-transform: rotateZ(-35deg);
      transform: rotateZ(-35deg); }
    .Header-burger.is-active .Header-stripe:nth-child(2) {
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }
    .Header-burger.is-active .Header-stripe:nth-child(3) {
      -webkit-transform: rotateZ(35deg);
      transform: rotateZ(35deg); }
  .Header-stripe {
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25);
    box-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out; }
    .Header-stripe:nth-child(1), .Header-stripe:nth-child(3) {
      -webkit-transform: scaleX(0.75);
      transform: scaleX(0.75); }
  .Header-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: calc(1em + 2 * 2px) 0; }
    @media (max-width: 1080px) {
      .Header-navbar {
        display: none; } }
  .Header-item {
    margin-left: 30px; }
    .Header-item:first-child {
      margin-left: 0; }
  .Header-link {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    .Header-link:hover {
      color: #4AB3FF; }
    .Header-link--button {
      padding: 0.75em 1em;
      border: solid 2px #FFFFFF;
      border-radius: 10px; }
      .Header-link--button:hover {
        color: #FFFFFF;
        background-color: #4AB3FF;
        border-color: #4AB3FF; }
  .Header-jumbotron {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center; }
  .Header-tag {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 30px; }
  .Header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 6.4rem;
    font-weight: 700; }
    @media (max-width: 1200px) {
      .Header-title {
        font-size: 5.2rem; } }
    @media (max-width: 960px) {
      .Header-title {
        font-size: 4rem; } }
    @media (max-width: 720px) {
      .Header-title {
        font-size: 3.2rem; } }
    @media (max-width: 480px) {
      .Header-title {
        font-size: 2.4rem; } }
    @media (max-width: 360px) {
      .Header-title {
        font-size: 2.2rem; } }
  .Header-subtitle {
    max-width: 720px;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 30px; }
    .Header-subtitle:first-of-type {
      margin-top: 60px; }
      @media (max-width: 600px) {
        .Header-subtitle:first-of-type {
          margin-top: 30px; } }
    .Header-subtitle:last-of-type {
      margin-bottom: 60px; }
    @media (max-width: 960px) {
      .Header-subtitle {
        font-size: 2.2rem; } }
    @media (max-width: 720px) {
      .Header-subtitle {
        font-size: 2rem; } }
    @media (max-width: 480px) {
      .Header-subtitle {
        font-size: 1.8rem; } }
  .Header-cta {
    -webkit-box-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25);
    box-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25); }
    @media (max-width: 840px) {
      .Header-cta {
        max-width: 360px;
        font-size: 1.6rem; } }
  .Header-scroller {
    position: relative;
    display: none;
    width: 20px;
    height: 30px;
    margin-top: 60px;
    opacity: 0;
    will-change: opacity;
    -webkit-animation: scroller-toggle .5s ease-in-out forwards;
    animation: scroller-toggle .5s ease-in-out forwards;
    cursor: pointer; }
    .Header-scroller::before, .Header-scroller::after {
      content: '';
      position: absolute;
      -webkit-box-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25);
      box-shadow: 0px 4px 10px rgba(107, 107, 107, 0.25); }
    .Header-scroller::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 10px; }
    .Header-scroller::after {
      top: calc(100% / 3 - 4px / 2);
      left: calc(50% - 4px / 2);
      width: 4px;
      height: 6px;
      background-color: #FFFFFF;
      border-radius: 10px;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      will-change: transform;
      -webkit-animation: cursor-translate 7.5s ease-in-out infinite;
      animation: cursor-translate 7.5s ease-in-out infinite; }

.Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%; }

.Footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  color: #FFFFFF; }
  .Footer-post, .Footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .Footer-post {
    padding: 60px 30px;
    text-align: center;
    background-color: #4E4AFF; }
    .Footer-post *::-moz-selection {
      background-color: #4AB3FF; }
    .Footer-post *::selection {
      background-color: #4AB3FF; }
  .Footer-title, .Footer-message {
    width: 1200px; }
    @media (max-width: 1320px) {
      .Footer-title, .Footer-message {
        width: 960px; } }
    @media (max-width: 1080px) {
      .Footer-title, .Footer-message {
        width: 720px; } }
    @media (max-width: 840px) {
      .Footer-title, .Footer-message {
        width: 480px;
        padding: 0 30px; } }
    @media (max-width: 480px) {
      .Footer-title, .Footer-message {
        width: 100%;
        padding: 0; } }
  .Footer-title {
    font-size: 3.2rem;
    line-height: 1.5em; }
    @media (max-width: 1080px) {
      .Footer-title {
        font-size: 3rem; } }
    @media (max-width: 840px) {
      .Footer-title {
        font-size: 2.8rem; } }
    @media (max-width: 600px) {
      .Footer-title {
        font-size: 2.6rem; } }
    @media (max-width: 480px) {
      .Footer-title {
        font-size: 2.4rem; } }
  .Footer-message {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5em; }
    @media (max-width: 1080px) {
      .Footer-message {
        font-size: 2.2rem; } }
    @media (max-width: 840px) {
      .Footer-message {
        font-size: 2rem; } }
    @media (max-width: 600px) {
      .Footer-message {
        font-size: 1.8rem; } }
  .Footer-contact {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #4AB3FF; }
    .Footer-contact *::-moz-selection {
      background-color: #4E4AFF; }
    .Footer-contact *::selection {
      background-color: #4E4AFF; }
  .Footer-list {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    width: 1200px; }
    @media (max-width: 1320px) {
      .Footer-list {
        width: 960px; } }
    @media (max-width: 1080px) {
      .Footer-list {
        grid-template-areas: "a" "aa" "b" "bb" "c" "cc";
        grid-template-columns: 1fr;
        width: 360px; } }
    @media (max-width: 420px) {
      .Footer-list {
        padding: 0 30px; } }
    @media (max-width: 360px) {
      .Footer-list {
        width: 100%; } }
  .Footer-subtitle {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 2rem; }
    @media (max-width: 1080px) {
      .Footer-subtitle {
        margin-top: 30px; }
        .Footer-subtitle:first-of-type {
          margin-top: 0; } }
    .Footer-subtitle:nth-of-type(1) {
      grid-area: a; }
    .Footer-subtitle:nth-of-type(2) {
      grid-area: b; }
    .Footer-subtitle:nth-of-type(3) {
      grid-area: c; }
  .Footer-logo {
    width: 60px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  .Footer-group {
    display: grid;
    grid-template-rows: repeat(auto-fill, calc(1.6rem + 7.5px));
    grid-gap: 1.5em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .Footer-group--more {
      grid-template-rows: auto;
      grid-gap: 30px; }
  .Footer-link {
    font-size: 1.6rem;
    font-weight: 300; }
  .Footer a.Footer-link {
    position: relative;
    padding-bottom: 7.5px; }
    .Footer a.Footer-link:hover::after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .Footer a.Footer-link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform .5s ease-in-out;
      transition: -webkit-transform .5s ease-in-out;
      transition: transform .5s ease-in-out;
      transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }
  .Footer-item {
    display: grid;
    grid-template-columns: auto 1fr; }
    .Footer-item--data .Footer-link {
      display: grid;
      grid-template-columns: 2rem auto;
      grid-gap: 1em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .Footer-icon {
    width: 100%; }
  .Footer-social {
    display: grid;
    grid-gap: 1.1em;
    grid-template-columns: repeat(auto-fill, 2.2rem); }
    .Footer-social .Footer-icon {
      -webkit-transition: -webkit-transform .25s ease-in-out;
      transition: -webkit-transform .25s ease-in-out;
      transition: transform .25s ease-in-out;
      transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out; }
      .Footer-social .Footer-icon:hover {
        -webkit-transform: translateY(-12.5%);
        transform: translateY(-12.5%); }
  .Footer .Footer-form {
    display: grid;
    grid-template-areas: "label_newsletter label_newsletter" "input_newsletter submit_newsletter";
    grid-template-columns: 1fr 60px;
    grid-row-gap: 15px;
    margin-bottom: 0; }
    @media (max-width: 600px) {
      .Footer .Footer-form {
        width: 100%; } }
  .Footer label.Footer-label {
    grid-area: label_newsletter;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1em; }
  .Footer input.Footer-input {
    grid-area: input_newsletter;
    height: 100%;
    min-width: auto;
    margin: 0;
    padding: .75em 1em;
    color: #4AB3FF;
    font-size: 1.6rem;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    .Footer input.Footer-input::-webkit-input-placeholder {
      color: #4AB3FF; }
    .Footer input.Footer-input::-ms-input-placeholder {
      color: #4AB3FF; }
    .Footer input.Footer-input::placeholder {
      color: #4AB3FF; }
    @media (max-width: 480px) {
      .Footer input.Footer-input {
        padding: .75em .5em;
        font-size: 1.4rem; } }
  .Footer button.Footer-submit {
    position: relative;
    grid-area: submit_newsletter;
    display: inline-block;
    width: 100%;
    min-width: auto;
    color: transparent;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    @media (max-width: 360px) {
      .Footer button.Footer-submit {
        width: 45px; } }
    .Footer button.Footer-submit:hover {
      background-color: #FFFFFF; }
      .Footer button.Footer-submit:hover::after {
        -webkit-transform: translateX(7.5px);
        transform: translateX(7.5px); }
    .Footer button.Footer-submit::after {
      content: '';
      position: absolute;
      left: calc(50% - 30px / 2);
      top: calc(50% - 30px / 2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1IDI1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNSAyNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yNC41LDExLjNMMTMuNiwwLjVDMTMuMywwLjIsMTIuOSwwLDEyLjUsMHMtMC45LDAuMS0xLjEsMC41bC0xLDFjLTAuMywwLjMtMC41LDAuNy0wLjUsMS4xczAuMSwwLjgsMC41LDEuMiBsNi40LDYuM0gxLjZjLTAuOSwwLTEuNiwwLjctMS42LDEuNnYxLjRjMCwwLjksMC43LDEuNywxLjYsMS43aDE1LjFsLTYuNCw2LjNjLTAuMywwLjMtMC41LDAuNy0wLjUsMS4xYzAsMC40LDAuMSwwLjgsMC41LDEuMWwxLDEgYzAuMywwLjMsMC43LDAuNSwxLjEsMC41czAuOS0wLjEsMS4xLTAuNWwxMC45LTEwLjljMC4zLTAuMywwLjUtMC43LDAuNS0xLjFDMjUsMTIsMjQuOSwxMS42LDI0LjUsMTEuM3oiIGZpbGw9IiNGRkZGRkYiLz48L3N2Zz4=);
      background-color: #4AB3FF;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      -webkit-transition: -webkit-transform .25s ease-in-out;
      transition: -webkit-transform .25s ease-in-out;
      transition: transform .25s ease-in-out;
      transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out; }
  .Footer-copyright {
    width: 100%;
    margin-top: 60px;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center; }

/*# sourceMappingURL=app.css.map */
