// Messenger
.sbi_load_btn,
.sbi_follow_btn a {
  transition: background .25s ease-in-out !important;

  &:hover {
    background: darken($mediumBlue, 12.5%) !important;
    box-shadow: none !important;
  }
}

// Comment
#wpcomm .wpdiscuz-subscribe-form-email input[type=email],
#wpcomm .wpd-form-row .wpdiscuz-item .wc-bin-captcha,
#wpcomm .wpd-form-row .wpd-has-icon .wpd-field,
#wpcomm .wpd_label__check i.wpdicon,
#wpdiscuz_subscription_button,
#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea,
.wpdiscuz-front-actions,
.wpdiscuz_select,
.wc-load-more-submit.wc-loaded.button,
.wc-cta-button,
.wc-field-submit input,
#wpcomm .avatar {
  border-radius: 5px !important;
}

.wpdiscuz-textarea-wrap {
  border: none !important;
}

#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea {
  border: 1px solid #d9d9d9 !important;
}

#wpcomm .wpdiscuz-subscribe-form-email input[type=email],
#wpcomm .wpd-form-row .wpd-has-icon .wpd-field,
#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea {
  &:focus {
    border-color: $mediumBlue !important;
  }
}

#wpcomm .wc-form-footer {
  user-select: none;
}

#wpcomm .wpd_label__check i.wpdicon-on {
  color: $mediumBlue;
  border-color: lighten($mediumBlue, 25%);
  background-color: lighten($mediumBlue, 37.5%);
}

#wpcomm .wpdiscuz-subscribe-form-email input[type=email],
.wpdiscuz_select {
  padding-left: 9px !important;
}

.wpdiscuz-ftb-left a,
#wpcomm .wpdiscuz-form-top-bar .wpdiscuz-user-settings,
#wpcomm .wpd_label__check i.wpdicon {
  transition: all .25s ease-in-out !important;

  &:hover {
    color: $mediumBlue !important;
  }
}

.wc-cta-button {
  transition: all .25s ease-in-out !important;
}

.wc-vote-link {
  transition: color .25s ease-in-out !important;

  &:hover {
    &.wc-up {
      color: $green !important;
    }

    &.wc-down {
      color: $red !important;
    }
  }
}

.wc-field-submit input,
.wc-load-more-submit.wc-loaded.button,
#wpdiscuz_subscription_button {
  transition: all .25s ease-in-out !important;
  cursor: pointer !important;

  &:hover {
    border-color: darken($mediumBlue, 12.5%) !important;
    background-color: darken($mediumBlue, 12.5%) !important;
  }
}

#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea,
.wc-comment-text {
  font-weight: 300;
  line-height: 1.5em;
}

.wc-comment-text a {
  color: $mediumBlue;
  transition: color .25s ease-in-out !important;

  &:hover {
    color: darken($mediumBlue, 25%);
  }
}
