.clients_hp, .partenaire_presta{
  padding-top: 15vh;
  padding-bottom: 15vh;
  .h2{
    margin-left: 8.3vw;
    margin-bottom: 10vh;
  }
  .swiper-wrapper{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    -webkit-transition-timing-function:ease-in-out!important;
    -o-transition-timing-function:ease-in-out!important;
    transition-timing-function:ease-in-out!important;
    .swiper-slide{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (max-width: 800px) {
      img{
        width: 17vw;
        height: 17vw*0.6;
      }
    }
  }
}
