.clients_hp{
  padding-top: 15vh;
  padding-bottom: 10vh;
  .h2{
    margin-left: 8.3vw;
  }
  .swiper-wrapper{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
  }
  }