.end_picture{
  width: 100.5vw;
  height: 65vh;
  background-size: cover;
  background-repeat:no-repeat;
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
  @media screen and (max-width: 800px){
    height: 35vh;
    background-position: center;
  }
}