.formation_school{
  position: relative;
  z-index: 1;
  .parallelogram_bg{
    padding: 15vh 8.3vw 17.4vh 8.3vw;
    @media screen and (max-width: 800px){
      padding: 41px 6.93vw 12.4vh 6.93vw;
      clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 99%);
    }
    .formations{
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 6vh;
      justify-content: space-between;
      .formation{
        padding: 50px 32px 71px 32px;
        background-color: #FDFDFD;
        width: 21.5vw;
        height: 21.5vw;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 800px){
          margin-top: 9px!important;
          padding: 21px 21px 0 21px;
          width: 100-6.93*2vw;
          height: (100-6.93*2)*0.5vw;
        }
        h4{
          margin-bottom: 30px;
          font-family: $title;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          color: $black;
          @media screen and (max-width: 800px){
            margin-bottom: 24px;
            font-size: 12px;
            line-height: 16px;
          }
        }
        p{
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px;
          color: $dark-gray;
          @media screen and (max-width: 800px){
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .school_link{
    width: 21.5vw;
    padding: 20px 0;
    text-align: center;
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    background: $orange;
    position: absolute;
    right: 8.3vw;
    bottom: -14px;
    z-index: 3;
    @media screen and (max-width: 800px){
      padding: 12px 0;
      width: 44vw;
      font-size: 12px;
      line-height: 16px;
    }
  }
}