#header{
  position: absolute;
  width: 100vw;
  padding: 35px 120px 35px  120px;
  .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left{

    }
    nav.menu-desktop{
      display: flex;
      align-items: center;
      ul{
        display: inline-flex;
        li{
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          margin: 0 38px;
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}