.Header {
  $root: &;
  $paddingButton: 1em;
  $borderButton: 2px;

  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  padding: $gutter 0;
  color: $white;
  text-shadow: $boxShadow;
  overflow: hidden;

  &--full {
    min-height: 100vh;
  }

  &--partial {
    min-height: 62.5vh;
  }

  &--uncovered {
    color: $dark;
    text-shadow: none;

    #{$root}-title {
      color: $mediumBlue;
    }

    #{$root}-filtered {
      filter: none;
    }

    #{$root}-link {
      color: $mediumBlue;

      &:hover {
        color: $darkBlue;
      }
    }
  }

  &--covered {
    #{$root}-cover {
      background-color: $black;
    }

    #{$root}-background {
      opacity: .75;
    }
  }

  @media (max-width: #{grid(7)}) {
    padding-right: grid(.5);
    padding-left: grid(.5);
  }

  @media (max-width: #{grid(7)}) {
    padding-right: 0;
    padding-left: 0;
  }

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include full-size;
    will-change: transform;
  }

  &-background {
    @include full-size;
    object-fit: cover;
  }

  &-topbar,
  &-jumbotron {
    width: grid(10);
    margin: $gutter 0;

    @media (max-width: #{grid(11)}) {
      width: grid(8);
    }

    @media (max-width: #{grid(9)}) {
      width: grid(6);
    }

    @media (max-width: #{grid(7)}) {
      width: grid(4);
    }

    @media (max-width: #{grid(5)}) {
      padding-right: $gutter;
      padding-left: $gutter;
    }

    @media (max-width: #{grid(4)}) {
      width: 100%;
    }
  }

  &-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    user-select: none;

    @media (max-width: #{grid(9)}) {
      margin-top: 0;
      height: $topbarSize;
    }
  }

  &-filtered {
    filter: brightness(0) invert(1);
    transition: filter .5s cubic-bezier(1, 0, 0, 1);

    &:hover {
      filter: none;
    }
  }

  &-logo {
    align-self: center;
    width: grid(1);
    filter: drop-shadow(#{$boxShadow});

    @media (max-width: #{grid(9)}) {
      width: auto;
      height: $topbarSize * .5;
    }
  }

  &-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: grid(.375);
    height: grid(.25);
    cursor: pointer;

    @media (max-width: #{grid(9)}) {
      display: flex;
    }

    &:hover {
      #{$root}-stripe {
        &:nth-child(1),
        &:nth-child(3) {
          transform: scaleX(1);
        }

        &:nth-child(2) {
          transform: scaleX(.75);
        }
      }
    }

    &.is-active {
      #{$root}-stripe {
        &:nth-child(1) {
          transform: rotateZ(-35deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: rotateZ(35deg);
        }
      }
    }
  }

  &-stripe {
    width: 100%;
    height: 4px;
    background-color: $white;
    border-radius: 2px;
    box-shadow: $boxShadow;
    transform-origin: 100% 50%;
    transition: transform .25s ease-in-out;

    &:nth-child(1),
    &:nth-child(3) {
      transform: scaleX(.75);
    }
  }

  &-navbar {
    display: flex;
    align-items: center;
    padding: calc(#{$paddingButton} + 2 * #{$borderButton}) 0;

    @media (max-width: #{grid(9)}) {
      display: none;
    }
  }

  &-item {
    margin-left: $gutter;

    &:first-child {
      margin-left: 0;
    }
  }

  &-link {
    transition: all .25s ease-in-out;

    &:hover {
      color: $mediumBlue;
    }

    &--button {
      padding: $paddingButton * 3 / 4 $paddingButton;
      border: solid $borderButton $white;
      border-radius: 10px;

      &:hover {
        color: $white;
        background-color: $mediumBlue;
        border-color: $mediumBlue;
      }
    }
  }

  &-jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    text-align: center;
  }

  &-tag {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: $gutter;
  }

  &-title {
    display: flex;
    flex-direction: column;
    font-size: 6.4rem;
    font-weight: 700;

    @media (max-width: #{grid(10)}) {
      font-size: 5.2rem;
    }

    @media (max-width: #{grid(8)}) {
      font-size: 4rem;
    }

    @media (max-width: #{grid(6)}) {
      font-size: 3.2rem;
    }

    @media (max-width: #{grid(4)}) {
      font-size: 2.4rem;
    }

    @media (max-width: #{grid(3)}) {
      font-size: 2.2rem;
    }
  }

  &-subtitle {
    max-width: grid(6);
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: $gutter;

    &:first-of-type {
      margin-top: $gutter * 2;

      @media (max-width: #{grid(5)}) {
        margin-top: $gutter;
      }
    }

    &:last-of-type {
      margin-bottom: $gutter * 2;
    }

    @media (max-width: #{grid(8)}) {
      font-size: 2.2rem;
    }

    @media (max-width: #{grid(6)}) {
      font-size: 2rem;
    }

    @media (max-width: #{grid(4)}) {
      font-size: 1.8rem;
    }
  }

  &-cta {
    box-shadow: $boxShadow;

    @media (max-width: #{grid(7)}) {
      max-width: grid(3);
      font-size: 1.6rem;
    }
  }

  &-scroller {
    $scrollerFrameSize: $gutter * 2 / 3;
    $scrollerWheelSize: 4px;

    position: relative;
    display: none;
    width: $scrollerFrameSize;
    height: $scrollerFrameSize * 1.5;
    margin-top: $gutter * 2;
    opacity: 0;
    will-change: opacity;
    animation: scroller-toggle .5s ease-in-out forwards;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      box-shadow: $boxShadow;
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $white;
      border-radius: $scrollerFrameSize / 2;
    }

    &::after {
      top: calc(100% / 3 - #{$scrollerWheelSize} / 2);
      left: calc(50% - #{$scrollerWheelSize} / 2);
      width: $scrollerWheelSize;
      height: $scrollerWheelSize * 1.5;
      background-color: $white;
      border-radius: $scrollerFrameSize / 2;
      transform: translateY(0);
      will-change: transform;
      animation: cursor-translate 7.5s ease-in-out infinite;
    }
  }
}
