.last_actu{
  padding-left: 8.3vw;
  margin-top: 18vh;
  display: inline-flex;
  align-items: flex-end;
  @media screen and (max-width: 800px){
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 0;
    align-items: center;
  }
  .left{
    color: $white;
    padding: 35px;
    @media screen and (max-width: 800px){
      padding: 21px;
      width: 100-6.93*2vw;
      margin: -50px 6.93vw 0 6.93vw;
      z-index: 5;
    }
    ul{
      width: 100%;
      display: inline-flex;
      @media screen and (max-width: 800px){
        width: 100%;
        flex-wrap: wrap;
      }
      li{
        &:first-child{
          margin-left: 0;
        }
        font-family: $font;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        margin-left: 5px;
        width: fit-content;
        @media screen and (max-width: 800px){
          line-height: 12px;
          font-size: 12px;
        }
      }
    }
    display: flex;
    flex-direction: column;
    width: 40.722vw;
    background-color: $orange;
    .h2{
      text-transform: none;
      font-family: $title;
      margin-top: 20px;
      color: $white;
      width: 100%;
      @media screen and (max-width: 800px){
        line-height: 17px;
        font-size: 12px;
      }
    }
    a{
      margin-top: 75px;
      text-align: right;
      font-family: $font;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      transition: color 0.4s;
      @media screen and (max-width: 800px){
        margin-top: 12px;
        line-height: 12px;
        font-size: 12px;
      }
      &:hover{
        color: $dark-green;
      }
    }
  }
  img{
    width: 51.9vw;
    height: 51.9vw*0.7847;
    object-fit: contain;
    @media screen and (max-width: 800px){
      width: 100vw;
      height: 40vh;
      object-fit: cover;
    }
  }
}