.quality_presta{
  padding: 13.55vh 8.3vw 13.55vh 8.3vw;
  @media screen and (max-width: 800px){
    padding: 30px 6.93vw 25px 6.93vw;
  }
  .qualities{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 800px){
      margin-top: 54px;
    }
    .quality{
      width: 100%;
      display: flex;
      flex-direction: column;
      .header{
        margin-bottom: 40px;
        display: inline-flex;
        @media screen and (max-width: 800px){
          margin-bottom: 18px;
        }
        img{
          width: 10.75%;
          object-fit: contain;
          @media screen and (max-width: 800px){
            height: auto;
            width: 5.6vw;
            position: absolute;
          }
        }
        .right{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 7.08%;
          width: 52.58%;
          @media screen and (max-width: 800px){
            margin-left: 0;
            width: 63.3%;
          }
          .h3{
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 35px;
            color: $black;
            margin-bottom: 10px;
            @media screen and (max-width: 800px){
              font-size: 12px;
              line-height: 12px;
              margin-bottom: 24px;
              margin-left: 10.6vw;
            }
          }
          p{
            font-family: $font;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 27px;
            color: #4F4F4F;
            @media screen and (max-width: 800px){
              font-size: 12px;
              line-height: 19px;
            }
          }
        }
      }
      .content{
        margin-bottom: 8.3vh;
        display: inline-flex;
        justify-content: space-between;
        @media screen and (max-width: 800px){
          display: flex;
          flex-direction: column;
          margin-bottom: 7vh;
        }
        .left, .right{
          width: 42.666667%;
          font-family: $font;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 32px;
          color: $dark-gray;
          @media screen and (max-width: 800px){
            width: 100%;
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
      .additional{
        @media screen and (max-width: 800px){
          display: none;
        }
        width: 100%;
        .columns{
          width: 100%;
          display: inline-flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .column{
            width: 42.666667%;
            .h4{
              font-family: $font;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 27px;
              color: $black;
            }
            p{
              margin-top: 44px;
              margin-bottom: 44px;
              font-family: $font;
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 32px;
              color: $dark-gray;
            }
          }
        }
      }
    }
  }
}