.ranking_school{
  .parallelogram_bg{
    padding: 14.3vh 8.3vw 10.4vh 8.3vw;
    @media screen and (max-width: 800px){
      padding: 14.3vh 6.93vw 10.4vh 6.93vw!important;
      clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
    }
    h3{
      margin-top: 60px;
      font-family: $font;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      color: $white;
      @media screen and (max-width: 800px){
        font-size: 12px;
        line-height: 32px;
        margin-top: 20px;
      }
    }
    .ranks{
      margin-top: 17.4vh;
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      @media screen and (max-width: 800px){
        margin-top: 30px;
      }
      .rank{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span{
          font-family: $font;
          font-style: normal;
          font-weight: 800;
          font-size: 100px;
          color: $white;
          @media screen and (max-width: 800px){
            font-size: 50px;
          }
        }
        p{
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 28px;
          color: $white;
          @media screen and (max-width: 800px){
            font-size: 12px;
          }
        }
      }
    }
  }
}
.last{
  .parallelogram_bg{
    padding: 14.3vh 8.3vw 35.1vh 8.3vw;
  }
}