.school_hp{
  width: 100%;
  padding: 12.5vh 8.3vw;
  display: inline-flex;
  justify-content: space-between;
  @media screen and (max-width: 800px){
    padding: 60px 6.93vw;
  }
  .left{
    padding: 50px 0 0 0;
    width: 37.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 800px){
      width: 100%;
    }
    p{
      margin-top: 60px;
      color: $dark-gray;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 35px;
      @media screen and (max-width: 800px){
        margin-top: 28px;
        font-size: 12px;
        line-height: 24px;
      }
    }
    .school_link{
      margin-top: 50px;
      margin-bottom: 10px;
      width: fit-content;
      padding: 20px 60px;
      font-family: $font;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $white;
      background: $orange;
      @media screen and (max-width: 800px){
        padding: 20px 30px;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  img{
    width: 50%;
    height: auto;
    min-height: 56vh;
    object-fit: cover;
    @media screen and (max-width: 800px){
      display: none;
    }
  }
}