.title_hp{
  padding: 20vh 8.3vw 100px 8.3vw;
  width: 100%;
  @media screen and (max-width: 800px){
    padding: 14vh 6.93vw 100px 6.93vw;
  }
  &:before{
    content: '“';
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 120px;
    color: rgba(42, 58, 79, 0.14);
    @media screen and (max-width: 800px){
      font-size: 40px;
      line-height: 54px;
    }
  }
  .H1{
    width: 70%;
    font-family: $title;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: $blacktitle;
    margin-bottom: 4.8vh;
    @media screen and (max-width: 800px) {
      width: 100%;
      font-size: 18px;
      line-height: 28px;
    }
  }
  p{
    width: 50%;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: $dark-gray;
    @media screen and (max-width: 800px){
      width: fit-content;
      font-size: 12px;
      line-height: 24px;
    }
  }
}