.title_presta{
  padding: 27vh 8.3vw 10vh 8.3vw;
  .h2{
    width: 60%;
  }
  p{
    width: 42.267%;
    margin-top: 6.6vh;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: $dark-gray;
  }
}