.title_hp{
  margin: 20vh 8.3vw 100px 8.3vw;
  width: 60%;
  &:before{
    content: '“';
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 120px;
    color: rgba(42, 58, 79, 0.14);
  }
  .H1{
    font-family: $title;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: $blacktitle;
    margin-bottom: 4.8vh;
  }
  p{
    width: 70%;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: $dark-gray;
  }
}